.weatherBg {
  background: url("https://wallpaperaccess.com/full/3481767.jpg");
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
h1 {
  color: white;
  font-size: 700;
}
.weatherReport {

  margin: auto;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cloud {
  padding: 10px;
  height: 80px;
  width: 80px;
}